.list-cont {
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 4em;
  list-style: none;
}

@media (min-width: 57em) {
  .list-cont {
    max-width: 1000px;
  }
}
