header {
  margin: 1em 0;
  padding-bottom: 10em;
}

.illustration {
  width: 150%;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text h1,
.header-text p {
  text-align: center;
}

.header-text h1 {
  line-height: 1.2;
  color: var(--dark-blue);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.header-text p {
  line-height: 1.7;
  color: var(--gray-violet);
  margin-bottom: 2em;
}

@media (min-width: 57em) {
  header {
    display: grid;
    align-items: center;
    grid-template-columns: 60fr 40fr;
  }

  .header-text {
    align-items: flex-start;
    grid-column: 1;
    grid-row: 1;
  }

  .header-text h1,
  .header-text p {
    text-align: left;
  }

  .header-text h1 {
    font-size: 6rem;
  }

  .header-text p {
    width: 75%;
  }

  .illustration {
    width: 145%;
    grid-column: 2/2;
  }
}

@media (min-width: 80em) {
  .header-text h1 {
    font-size: 8rem;
  }
  .header-text p {
    font-size: 2rem;
  }
}
