header {
  margin: 1em 0;
}

.illustration {
  width: 155%;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text h1,
.header-text p {
  text-align: center;
}

.header-text h1 {
  line-height: 1.2;
  color: var(--dark-blue);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.header-text p {
  line-height: 1.7;
  color: var(--gray-violet);
  margin-bottom: 2em;
}
