.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.menu-icon,
.close-icon {
  width: 32px;
  height: 32px;
  color: var(--gray-violet);
}

.nav-menu {
  position: relative;
}
