.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.3em 1em;
  gap: 1em;
  background-image: url("../assets/images/bg-boost-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: var(--drk-violet);
}

.sign-up h2 {
  color: white;
}

@media (min-width: 56em) {
  .sign-up {
    background-image: url("../assets/images/bg-boost-desktop.svg");
    padding: 2.5em 1em;
  }

  .sign-up h2 {
    font-size: 4rem;
  }
}
